@page
@using StroyTrend.Pages.Controls
@model IndexModel

@{
    ViewData["Title"] = "Home page";

    var tabs = new List<(string name, string fullPath)>()
    {
        ("Index", string.Empty),
    };
}

<partial name="@ProjectNavigationControlModel.ViewPath" model="new ProjectNavigationControlModel(tabs)" />

<div class="text-center">
    <h1>Projects:</h1>
    <div class="projects"></div>
</div>

<script>
    onDocumentInitialized(async () => {
        const response = await fetch('/projects', {
            method: "GET"
        });
        const projects = await response.json();

        for (const project of projects)
            $('.projects').append(`<div><a style='text-decoration: none' href='/table/${project.id}'>${project.name}</a></div>`);
    });
</script>